// *=======================================================================================
// ** Imports & Mixins  **
// *=======================================================================================

//*=========================================
//** Imports **
//*=========================================

@use 'bits' as *; //Contains variables, media queries mixins etc.

//*=========================================
//** Header **
//*=========================================

.header-content {
  padding: $header-spacing-large $header-spacing-large 0;
}

.homepage-header-main-heading {
  color: $font-colour-dark;
  font-size: $font-size-large;
  width: 100%;
  max-width: 1000px;
  margin-bottom: $header-spacing-large;
}

.header-content-flex-wrapper {
  @include flex(row);
  margin: 0 $header-spacing-large;
}

.homepage-header-image {
  flex: 0 1 auto;
  width: 50%;
  height: 100%;
  margin-right: $header-spacing-large;
  object-fit: cover;
}

.header-text-area {
  flex: 0 1 auto;
  width: 50%;
}

//*=========================================
//** Services Link Section **
//*=========================================

.services-link-section {
  @include flex(column);
  background-color: $background-colour-one;
  padding-bottom: 0;
}

.homepage-services-flex-wrapper {
  @include flex(row);
  @include section-end-spacing;
}

.homepage-services-link-section-image {
  flex: 0 1 auto;
  width: 50%;
  height: 100%;
}

.services-link-text-wrapper {
  @include flex(column);
  justify-content: center;
  align-items: center;
  flex: 0 1 auto;
  width: 50%;
  height: auto;
  background-color: $background-colour-three;
}

.homepage-services-link-text {
  font-size: $font-size-large;
  color: $font-colour-light;
  margin: 0 auto;
  width: 40%;
}

.homepage-services-link {
  color: $font-colour-light;
  margin: 0 auto;
}

.services-find-out-more-paragraph {
  @include section-end-spacing;
  width: 50%;
}

//*=========================================
//** Mixins **
//*=========================================
