// *=======================================================================================
// ** Imports & Mixins  **
// *=======================================================================================

//*=========================================
//** Imports **
//*=========================================

@use 'bits' as *; //Contains variables, media queries mixins etc.

//*=========================================
//** Header **
//*=========================================

.header-content {
  padding: $header-spacing-large $header-spacing-large 0;
}

.homepage-header-main-heading {
  color: $font-colour-dark;
  font-size: $font-size-large;
  width: 100%;
  max-width: 1000px;
  margin-bottom: $header-spacing-large;
}

.header-content-flex-wrapper {
  @include flex(row);
  margin: 0 $header-spacing-large;
}

.homepage-header-image {
  flex: 0 1 auto;
  width: 50%;
  height: 100%;
  margin-right: $header-spacing-large;
  object-fit: cover;
}

.header-text-area {
  flex: 0 1 auto;
  width: 50%;
}

//*=========================================
//** Mixins **
//*=========================================
