// *=======================================================================================
// ** Imports & Mixins  **
// *=======================================================================================

//*=========================================
//** Imports **
//*=========================================

@use 'bits' as *; //Contains variables, media queries mixins etc.

//*=========================================
//** Header **
//*=========================================

.header-content-wrapper {
  padding: $section-spacing-large $section-spacing-super-large 0;
  color: $font-colour-dark;
}

.pages-header-main-heading {
  margin-bottom: 0;
}

.pages-header-subtitle {
  font-size: $font-size-medium;
  margin: $section-spacing-large 0 0;
}

//*=========================================
//** Page  **
//*=========================================

.pages-content-wrapper {
  padding: $section-spacing-large $section-spacing-super-large;
  background-color: $background-colour-one;
}

.pages-block-wrapper {
  padding-bottom: $section-spacing-large;
  color: $font-colour-dark;

  &:nth-child(odd) {
    img {
      box-shadow: 50px 50px $background-colour-two;
    }
  }

  &:nth-child(even) {
    img {
      box-shadow: 50px 50px $background-colour-three;
    }
  }

  &:last-of-type {
    padding-bottom: 0;
  }
}

.block-textwrapper {
  margin-bottom: $section-spacing-small;
}

.pages-subtitle {
  text-align: left;
  margin-bottom: $section-spacing-small;
}

.pages-block-image {
  width: auto;
  max-height: 98vh;
  aspect-ratio: 1/1;
  object-fit: cover;
  margin: 0 auto;
}
