<!-- Article Heading -->
<h1 class="section-heading blog-heading blog-post-title" itemprop="headline">
  <perch:blog id="postTitle" type="text" label="Article Heading" required="true" size="l" order="3" >
</h1>


<!-- Display post categories -->
<div class="post-category-wrapper">
  <a class="post-category-link body-text-medium" href="category/<perch:categories id="categories" set="blog"><perch:category id="catSlug" type="text" urlify></perch:categories>">
    <perch:categories id="categories" set="blog"><perch:category id="catSlug" type="text" replace="-|&nbsp;"></perch:categories>
</a>
</div>

<!--Top  Image -->
<div class="blog-post-image-wrapper">
  <img class="blog-post-main-image blog-post-image" itemprop="image" src="<perch:blog id="blogPostMainImage" type="image" width="1700" label="Main Image" order="1">" alt="<perch:blog id="alt" type="text" label="Image Description" help="Briefly describe what the image is showing" size="l" order="2">"
  sizes="75vw"
  srcset="<perch:blog type="image" id="blogPostMainImage" width="1700" > 1700w,
  <perch:blog type="image" id="blogPostMainImage" width="1500" > 1500w,
  <perch:blog type="image" id="blogPostMainImage" width="1200" > 1200w,
  <perch:blog type="image" id="blogPostMainImage" width="900" > 900w,
  <perch:blog type="image" id="blogPostMainImage" width="600" > 600w">
</div>


<!-- Edit Slug -->
<perch:blog id="postSlug" type="slug" editable="true" label="Blog Post Slug" help="This is the text that goes after your web address (blossombooks.co/articles/this-bit-is-the-slug). This is generated automatically and incorporates the article title. You won't normally need to change this. If you do need to change this use numbers, letters and hyphens only. If you use spaces the link won't work. If the slug is changed after the page has been published, links using the previous slug won't work anymore." for="postTitle" suppress="true" order="4">

<!-- Perch Blocks -->
<!-- Text block  -->
<perch:blocks order="5">
  <perch:block type="textarea" icon="edit" label="Text Block">
    <div class="blog-text-block">
      <perch:blog id="blog-post-text" type="textarea" editor="redactor" html="true" help="This block can be dragged up or down to reorder" count="words">
      </div>
    </perch:block>

  <!-- Full width image -->
  <perch:block type="fullwidthimage" icon="photo" label="Image" >
    <div class="blog-post-image-wrapper">
      <img class="blog-post-body-image blog-post-image" loading="lazy" itemprop="image" src="<perch:blog id="fullWidthBlogImage" type="image" width="1350" help="This block can be dragged up or down to reorder">" alt="<perch:blog id="alt" type="text" label="Image alt description">"
      sizes="100vw"
      srcset="<perch:blog type="image" id="fullWidthBlogImage" width="1750"> 1750w,
              <perch:blog type="image" id="fullWidthBlogImage" width="1500"> 1500w,
              <perch:blog type="image" id="fullWidthBlogImage" width="1200"> 1200w,
              <perch:blog type="image" id="fullWidthBlogImage" width="900"> 900w,
              <perch:blog type="image" id="fullWidthBlogImage" width="600"> 600w">
    </div>
  </perch:block>

    <!-- Pull Quote -->
    <perch:block type="pull-quote" icon="quote" label="Pull Quote With Optional Citation">
      <!-- With Citation -->
      <perch:if exists="citationLink">
        <!-- And Link -->
        <blockquote class="blog-pull-quote blog-pull-quote-with-citation" cite="<perch:blog id="citationLink" type="text" label="Optional Citation Link" help="Paste in full URL">">
        <perch:else>
          <!-- Without Link or Without Citation  -->
          <blockquote class="blog-pull-quote">
      </perch:if>

      <div class="pull-quote-text">
        <perch:blog id="pullQuoteText" type="textarea" editor="redactor" html="true" help="This block can be dragged up or down to reorder" count="words" order="1">
      </div>

      <perch:if exists="citationLink AND citationText">
          <p class="pull-quote-citation">
            <a class="pull-quote-citation-link"  href="<perch:blog id="citationLink">" target="_blank" title="Open in new tab">
              <perch:blog id="citationText" type="text" label="Optional Citation" order="2">
            </a>
          </p>
      <perch:else>
        <perch:if exists="citationText">
          <p class="pull-quote-citation">
            <perch:blog id="citationText">
          </p>
        </perch:if>
    </perch:if>

      </blockquote>
  	</perch:block>

    <!-- Video Embed  -->
    <perch:block type="embed" icon="video" label="Embed Videos">
      <div class="blog-embed blog-video-embed">
        <perch:blog id="videoEmbedBlock" type="textarea" editor="markitup" html="true" help="Paste the embed code into the box. This block can be dragged up or down to reorder" size="m">
        </div>
    </perch:block>

    <!-- General Embed  -->
    <perch:block type="socialMediaEmbed" icon="chat" label="General Embeds">
    <div class="blog-embed blog-general-embed">
      <perch:blog id="socialEmbedBlock" type="textarea" editor="markitup" html="true" help="For social media and other embedded content. Paste code into the box. This block can be dragged up or down to reorder" size="m">
      </div>
  </perch:block>


  </perch:blocks> <!-- Perch blocks end -->

  <!-- Meta information  -->
  <div class="blog-post-date-author">
    	<time class="dt-published" itemprop="dateCreated" datetime="<perch:blog id="postDateTime" type="date" label="Date" time="true" format="Y-m-d H:i:s" divider-before="Meta information" order="7">">
    		<perch:blog id="postDateTime" type="date" time="true" format="%d %B %Y">
      </time>
  <perch:if exists="authorGivenName">
		by
		<span class="author" itemprop="creator">
			<perch:blog id="authorGivenName" type="hidden" />
			<perch:blog id="authorFamilyName" type="hidden" />
		</span>
	</perch:if>
  </div>

  <perch:categories id="categories" set="blog" label="Categories" suppress="true" max="1" size="m">
          <perch:category id="catTitle" type="text" suppress="true">
  </perch:categories>


