<perch:blog id="og_title" label="Social Media Title" type="text" help="No more that 36 characters. Don't include the site name, or a full stop at the end." divider-before="Social Media Sharing" count="chars" escape>"
<perch:blog id="page-meta-description" label="Social Media Description" help="Length between 150 and 160 characters." type="textarea" size="s" count="chars" escape>
<perch:blog id="og_image" label="Social Media Image" help="Should be at least 1200 pixels wide. A square image is best." type="image" width="1200">
<perch:group label="Twitter And Facebook ID's" >
  <perch:blog id="twitterCreator" type="text" size="l" help="@Your_Personal_Twitter_ID" label="Your Personal Twitter ID - Optional">"
  <perch:blog id="siteTwitter" type="text" size="l" help="@Your_Business_Twitter_ID" label="Your Business Twitter ID - Optional">"
  <perch:blog id="og_author" type="text" size="l" help="https://www.facebook.com/your.facebook.profile.url" label="Your Facebook Profile URL - Optional">"
</perch:group>