<section class="homepage-gallery-section">
  <div class="homepage-gallery">
    <perch:repeater id="homepageGalleryImages" label="Gallery Images">
      <div class="carousel-cell">
        <img class="homepage-gallery-image" itemprop="image" loading="lazy" src="<perch:content id="homepageGalleryImage" type="image" width="1800" label="Gallery Image">" alt="<perch:content id="altOne" type="text" label="Image Description">"
        sizes="(max-width: 1000px) 100vw, 50vw"
        srcset="<perch:content type="image" id="homepageGalleryImage" width="1800"> 1800w,
        <perch:content type="image" id="homepageGalleryImage" width="1400"> 1400w,
        <perch:content type="image" id="homepageGalleryImage" width="1000"> 1000w,
        <perch:content type="image" id="homepageGalleryImage" width="600"> 600w,
        <perch:content type="image" id="homepageGalleryImage" width="300"> 300w">
      </div>
    </perch:repeater>
  </div>
</section>
