<perch:before>
<nav class="main-nav" data-state="closed">
</perch:before>
    <a class="main-nav-link<perch:if exists="ancestor_page"> ancestor</perch:if>" <perch:if exists="current_page"> id="main-nav-current"</perch:if> href="<perch:pages id="pagePath"  />"><perch:pages id="pageNavText" /></a>
  <perch:pages id="subitems" encode="false" />
  <perch:after>
  </nav>
  <div class="main-nav-trigger-wrapper">
    <button id="main-nav-trigger" class="main-nav-trigger">MENU</button>
  </div>
</perch:after>
