<!-- TODO: Use when the main logo is an SVG. Delete otherwise -->
<div class="hidden-logo-wrapper">
  <a class="hidden-logo-link" itemprop="url" href="<perch:content id="hiddenLogoUrl" type="text" label="Homepage Link" required>" >
    <img itemprop="logo" class="hidden-logo" src="<perch:content id="hiddenLogo" type="image" width="1000" label="Hidden Logo">" alt="<perch:content id="alt" type="text" label="Image description">"
    sizes="10vw"
    srcset="<perch:content type="image" id="hiddenLogo" width="1000" > 1000w,
    <perch:content type="image" id="hiddenLogo" width="750" > 750w,
    <perch:content type="image" id="hiddenLogo" width="500" > 500w,
    <perch:content type="image" id="hiddenLogo" width="400" > 400w">
  </a>
</div>

