<div class="main-logo-wrapper">
  <a class="main-logo-link" itemprop="url" href="<perch:content id="mainLogoUrl" type="text" label="Homepage Link"  required>" >
    <img itemprop="logo" class="main-logo" src="<perch:content id="mainLogo" type="image" width="500" label="Main Logo">" alt="<perch:content id="alt" type="text" label="Image description">"
    sizes="400px"
    srcset="<perch:content type="image" id="mainLogo" width="500" > 500w,
    <perch:content type="image" id="mainLogo" width="400" > 400w,
    <perch:content type="image" id="mainLogo" width="300" > 300w">
  </a>
</div>
